.titulo {
    text-align: center;
    color: rgb(29, 36, 88);
    margin-top: 100px;
    margin-bottom: -30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.containerProjetos {

    display: flex;
    border: 1px solid #bd4520;
    flex-wrap: wrap;
    margin: 100px auto 200px;
    border-radius: 10px;
    justify-content: center;
}

.projeto {

    width: 450px;
    margin: 50px 40px;



}

.projeto h3 {
    text-align: center;
    border: 1px solid rgb(29, 36, 88);
    border-radius: 5px;
    color: rgb(29, 36, 88);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;

}

/* ESTULO PARA JOGO DA VELHA */
.jogoDaVelha {
    width: 100%;
    height: 250px;
    background-image: url('../images/jogodavelha.JPG');

    cursor: pointer;
    background-size: cover;
    background-position: center;


}


.aba {
    border: 1px solid #bd4520;
    width: 500px;
    height: 300px;
    background-color: #efefef;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    /* metade da altura */
    margin-left: -250px;
    /* metade da largura */
    -webkit-box-shadow: 9px 11px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 11px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 11px 5px -3px rgba(0, 0, 0, 0.75);
    border-radius: 5px;

    z-index: 9999;
    /* define um valor alto de z-index para a div */

}


.close {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.close svg {
    cursor: pointer;
    background-color: #efefef;
    border-radius: 5px;


}

.aba h3 {
    border-radius: 10px;
}

.chat {
    width: 100%;
    height: 250px;
    background-image: url('../images/Chat.PNG');

    cursor: pointer;
    background-size: cover;
    background-position: center;

}


.conversor {
    width: 100%;
    height: 250px;
    background-image: url('../images/CoinToReal.JPG');

    cursor: pointer;
    background-size: cover;
    background-position: center;

}

.gif {
    width: 100%;
    height: 250px;
    background-image: url('../images/gif.JPG');

    cursor: pointer;
    background-size: cover;
    background-position: center;

}

.pok {
    width: 100%;
    height: 250px;
    background-image: url('../images/pokedex.JPG');

    cursor: pointer;
    background-size: cover;
    background-position: center;

}


/* FINAL ESTILO JOGO DA VELHA */

/* iNICIO ESTILO BUSCAR CEP*/
.buscarCep {
    width: 100%;
    height: 250px;
    background-image: url('../images/buscarCEP.JPG');

    cursor: pointer;
    background-size: cover;
    background-position: center;

}


/*FINAL BUSCAR CEP*/

/* iNICIO ESTILO agencia bold*/
.agenciaBold {
    width: 100%;
    height: 250px;
    background-image: url('../images/agenciabold.JPG');

    cursor: pointer;
    background-size: cover;
    background-position: center;

}


/*FINAL agencia bold*/

/* iNICIO ESTILO calculadora*/
.calculadora {
    width: 100%;
    height: 250px;
    background-image: url('../images/calculadora.JPG');


    cursor: pointer;
    background-size: cover;
    background-position: center;

}


/*FINAL calculadora*/
/* iNICIO ESTILO TODO LIST*/

.todoList {
    width: 100%;
    height: 250px;
    background-image: url('../images/todolist.JPG');


    cursor: pointer;
    background-size: cover;
    background-position: center;
}

/*FINAL TODOLIST*/

/*INICIO ESTULO RESTAURANTE*/
.restaurante {
    width: 100%;
    height: 250px;
    background-image: url('../images/restaurante.JPG');


    cursor: pointer;
    background-size: cover;
    background-position: center;

}

/*final restaurante */

/*INICIO ESTULO RESTAURANTE*/
.portal {
    width: 100%;
    height: 250px;
    background-image: url('../images/michelnews.JPG');

    cursor: pointer;
    background-size: cover;
    background-position: center;


}

/*final restaurante */
.containerDescricao p {
    margin: 20px;
    text-align: center;
}

.containerDescricao button {
    display: block;
    margin: 30px auto;
    border: none;
}

/* Estilos para a mensagem */
.mensagem {


    /* Centraliza exatamente no meio */
    background-color: #bd4520;
    color: white;
    padding: 8px;
    border-radius: 4px;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.mensagem p {

    text-indent: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    padding: 15px;
    text-align: justify;
    background-color: #bd4520;

}


.mensagem:hover {
    opacity: 1;
}


/*efeito para aumentar a tela quando passar o mouse por cima*/
.jogoDaVelha,
.buscarCep,
.todoList,
.restaurante,
.agenciaBold,
.calculadora,
.conversor,
.gif,
.pok,
.portal,
.chat {
    transition: transform 0.3s ease-in-out;
}

.jogoDaVelha:hover {
    transform: scale(1.2);
    border-radius: 10px;

}

.buscarCep:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

.todoList:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

.restaurante:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

.agenciaBold:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

.calculadora:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

.conversor:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

.gif:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

.pok:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

.portal:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

.chat:hover {
    transform: scale(1.2);
    border-radius: 10px;
}

@media screen and (max-width: 768px) {

    .mensagem p {
        width: 100%;
        height: 100%;
    }

    .projeto {

        width: 250px;



    }

    .jogoDaVelha {
        width: 100%;
        height: 150px;
    }

    .aba {
        width: 100%;
        height: 260px;
        margin-top: -125px;
        /* metade da altura */
        margin-left: -50%;
        /* metade da largura */
    }



    .buscarCep {
        width: 100%;
        height: 150px;
    }


    .agenciaBold {
        width: 100%;
        height: 150px;
    }


    .todoList {
        width: 100%;
        height: 150px;
    }


    .restaurante {
        width: 100%;
        height: 150px;
    }

    .calculadora {
        width: 100%;
        height: 150px;
    }

    .conversor {
        width: 100%;
        height: 150px;
    }

    .gif {
        width: 100%;
        height: 150px;
    }

    .pok {
        width: 100%;
        height: 150px;
    }

    .portal {
        width: 100%;
        height: 150px;
    }

    .chat {
        width: 100%;
        height: 150px;
    }


}

@media screen and (max-width: 900px) and (min-width: 768px) {
    .projeto {

        width: 500px;
        height: 300px;


    }

    .jogoDaVelha {
        width: 100%;
        height: 300px;
    }

    .buscarCep {
        width: 100%;
        height: 300px;
    }

    .aba {
        width: 400px;
        height: 300px;
        margin-top: -200px;
        /* metade da altura */
        margin-left: -200px;
        /* metade da largura */

    }



    .todoList {
        width: 100%;
        height: 300px;
    }



    .restaurante {
        width: 100%;
        height: 300px;
    }

    .calculadora {
        width: 100%;
        height: 300px;
    }

    .conversor {
        width: 100%;
        height: 300px;
    }

    .gif {
        width: 100%;
        height: 300px;
    }

    .pok {
        width: 100%;
        height: 300px;
    }

    .portal {
        width: 100%;
        height: 300px;
    }

    .chat {
        width: 100%;
        height: 300px;
    }







}

@media screen and (max-width: 1600px) {

    .containerProjetos {
        display: flex;
        margin: 50px 40px;
        flex-wrap: wrap;
        justify-content: center;
    }


}

@media screen and (min-width: 1600px) {
    .containerProjetos {
        margin: 100px 40px 200px;
    }
}