.titulo{
    text-align: center;
    color: rgb(29, 36, 88);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.containerProjetos{
    width: 90%;
    display: flex;
    border: 1px solid #bd4520;
    flex-wrap: wrap;
    margin:100px auto 200px;
    border-radius: 10px;
}

.projeto{
    
    width: 680px;
    margin: 50px auto;

}

.projeto h3{
    text-align: center;
    border: 1px solid rgb(29, 36, 88);
    border-radius: 5px;
    color: rgb(29, 36, 88);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}

/* ESTULO PARA JOGO DA VELHA */
.jogoDaVelha{
width: 100%;
height: 400px;
background-image: url('../images/jogodavelha.JPG');
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;


}


.abajdv{
    border: 1px solid #bd4520;
    width: 500px;
    height: 300px;
    background-color: #efefef;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px; /* metade da altura */
    margin-left: -250px; /* metade da largura */
    -webkit-box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    z-index: 9999; /* define um valor alto de z-index para a div */
   
}



.closeJDV{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.closeJDV svg{
    cursor: pointer;
    background-color: #efefef;
    border-radius: 5px;
    
    
}

.abajdv h3{
    border-radius: 10px;
}


/* FINAL ESTILO JOGO DA VELHA */

/* iNICIO ESTILO BUSCAR CEP*/
.buscarCep{
    width: 100%;
    height: 400px;
    background-image: url('../images/buscarCEP.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    
    }
    .ababc{
        border: 1px solid #bd4520;
        width: 500px;
        height: 300px;
        background-color: #efefef;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -150px; /* metade da altura */
        margin-left: -250px; /* metade da largura */
        -webkit-box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
        box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
        border-radius: 5px;
        z-index: 9999; /* define um valor alto de z-index para a div */
       
    }
    .closeBC{
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-bottom: 15px;
        border-radius: 5px;
    }
    .closeBC svg{
        cursor: pointer;
        background-color: #efefef;
        border-radius: 5px;
        
        
    }

    .ababc h3{
        border-radius: 10px;
    }
/*FINAL BUSCAR CEP*/
/* iNICIO ESTILO TODO LIST*/

.todoList{
    width: 100%;
    height: 400px;
    background-image: url('../images/todolist.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.abatd{
    border: 1px solid #bd4520;
    width: 500px;
    height: 300px;
    background-color: #efefef;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px; /* metade da altura */
    margin-left: -250px; /* metade da largura */
    -webkit-box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
    border-radius: 5px;
    z-index: 9999; /* define um valor alto de z-index para a div */
}

.closeTD{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.closeTD svg{
    cursor: pointer;
    background-color: #efefef;
    border-radius: 5px;
    
    
}
.abatd h3{
    border-radius: 10px;
}
/*FINAL TODOLIST*/

/*INICIO ESTULO RESTAURANTE*/
.restaurante{
    width: 100%;
    height: 400px;
    background-image: url('../images/restaurante.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
        
}

.abart{
    border: 1px solid #bd4520;
    width: 500px;
    height: 300px;
    background-color: #efefef;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px; /* metade da altura */
    margin-left: -250px; /* metade da largura */
    -webkit-box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 5px -3px rgba(0,0,0,0.75);
    border-radius: 5px;
    z-index: 9999; /* define um valor alto de z-index para a div */
}

.closeRT{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.closeRT svg{
    cursor: pointer;
    background-color: #efefef;
    border-radius: 5px;
    
    
}

.abart h3{
    border-radius: 10px;
}

/*final restaurante */
.containerDescricao p{
    margin: 20px;
    text-align: center;
}

.containerDescricao button{
    display: block;
    margin: 30px auto;
    border: none;
}

/*efeito para aumentar a tela quando passar o mouse por cima*/
.jogoDaVelha, .buscarCep, .todoList, .restaurante{
    transition: transform 0.3s ease-in-out;
}

.jogoDaVelha:hover{
    transform: scale(1.2);
}

.buscarCep:hover{
    transform: scale(1.2);
}

.todoList:hover{
    transform: scale(1.2);
}
.restaurante:hover{
    transform: scale(1.2);
}


@media screen and (max-width: 768px){
    .projeto{
   
        width: 250px;
        
    
   
    }
    .jogoDaVelha{
        width: 100%;
        height: 150px;
    }
    .abajdv{
        width: 100%;
        height: 260px;
        margin-top: -125px; /* metade da altura */
        margin-left: -50%; /* metade da largura */
    }



    .buscarCep{
        width: 100%;
        height: 150px;
    }
    .ababc{
        width: 100%;
        height: 260px;
        margin-top: -125px; /* metade da altura */
        margin-left: -50%; /* metade da largura */
    }

    .todoList{
        width: 100%;
        height: 150px;
    }
    .abatd{
        width: 100%;
        height: 260px;
        margin-top: -125px; /* metade da altura */
        margin-left: -50%; /* metade da largura */
    }

    .restaurante{
        width: 100%;
        height: 150px;
    }
    .abart{
        width: 100%;
        height: 260px;
        margin-top: -125px; /* metade da altura */
        margin-left: -50%; /* metade da largura */
    }
   
  }

  @media screen and (max-width: 900px) and (min-width: 768px){
    .projeto{
  
    width: 500px;
    height: 300px;
    
   
    }
    .jogoDaVelha{
        width: 100%;
        height: 300px;
    }
    .abajdv{
        width: 400px;
        height: 200px;
        margin-top: -100px; /* metade da altura */
        margin-left: -200px; /* metade da largura */

    }

    .ababc{
        width: 400px;
        height: 200px;
        margin-top: -100px; /* metade da altura */
        margin-left: -200px; /* metade da largura */
    }

    .todoList{
        width: 100%;
        height: 300px;
    }

    .abatd{
        width: 400px;
        height: 200px;
        margin-top: -100px; /* metade da altura */
        margin-left: -200px; /* metade da largura */
    }

    .restaurante{
        width: 100%;
        height: 300px;
    }
    .abart{
        width: 400px;
        height: 200px;
        margin-top: -100px; /* metade da altura */
        margin-left: -200px; /* metade da largura */
    }

   
  }

  @media screen and (max-width: 1600px){
    .containerProjetos{
        display: block;
    }
  }

